.bundle
db/*.sqlite3
db/schema.*
db/sphinx/*
config/database.yml
log/*.log
tmp/**/*
.idea
.DS_Store
coverage
coverage.data
.redcar
.sass-cache/**/*

public/sitemap*
public/stylesheets/**/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
